---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <div class="h-64 md:flex md:min-h-screen">
      <div class="flex-1 h-screen img-header bg-cover bg-center"></div>
      <div class="md:flex-1 bg-gray-50"></div>
    </div>
    <div
      class="relative p-16 md:absolute md:top-1/2 md:left-1/2 md:transform md:-translate-x-1/4 md:-translate-y-1/4 bg-white md:w-1/2 md:shadow-md"
    >
      <div class="text-gray-600 font-normal text-sm mb-2">
        Développeur d'applications
      </div>
      <h2 class="text-3xl mb-2 font-semibold font-body">
        AILI FIDA Aliotti Christino
      </h2>
      <p class="text-gray-600">
        Autodidacte, et passionné de nouvelles technologies. Je sillonne le net
        chaque jour pour me ressourcer en informations. J'adore créer des
        produits qui ont un sens et qui apportent une valeur ajoutée aux
        utilisateurs.
      </p>
      <button
        class="border-green-300 border-2 py-2 px-3 shadow-md rounded-full mt-8 hover:bg-green-300 hover:text-white transition-all duration-500"
      >
        Télécharger mon CV
      </button>
    </div>
    <Footer />
    <style>
      .img-header {
        background-image: url("https://lmpixels.com/wp/leven-wp/wp-content/uploads/2019/12/cesar-rincon-1024x1024.jpg");
      }
    </style>
  </body>
</html>
