---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";


---

<header>
  <nav class="flex justify-between p-8 bg-gray-800 text-white">
    <a href="/">Logo</a>
    <ul class="w-1/3 flex flex-row justify-between">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <HeaderLink href="https://twitter.com/astrodotbuild" target="_blank">
        Twitter
      </HeaderLink>
      <HeaderLink href="https://github.com/withastro/astro" target="_blank">
        GitHub
      </HeaderLink>
    </ul>
  </nav>
</header>
<style>
  header {
    margin: 0em 0 2em;
  }
  h2 {
    margin: 0.5em 0;
  }
</style>
